body {padding:0; margin:0; font:14px Open Sans, sans-serif;}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-ExtraBold.eot');
    src: url('../font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-ExtraBold.woff2') format('woff2'), url('../font/Gilroy-ExtraBold.woff') format('woff'), url('../font/Gilroy-ExtraBold.ttf') format('truetype'), url('../font/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-style: normal;
}

.wrap { height:100vh; width: 100%;}
.header:after {content:''; clear:both; display:block;}
.header .wrapText { width:450px; float:left; padding:0 0 0 80px;  margin: 0 -150px 0 0; position: relative; z-index: 1; height: 100vh;}
.header .wrapText .content {margin-top: calc(50vh - 280px);}
.header .wrapText .logo { width:77px; background:url(../images/logoBizzow.png) no-repeat; height:83px; margin: 0 0 8%;}
.header .wrapText h1 { font: 60px Gilroy; color:#3b2d78; letter-spacing: -2px; line-height: 55px; margin: 10px 0;}
.header .wrapText h1 span { display:block; }
.animated { -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; color:#fa6728;}
.fadeInLeft { animation-name: fadeInLeft}
@keyframes fadeInLeft {
    from {opacity: 0; transform: translate3d(-5%,0,0) }
    100% { opacity: 1; transform: none}
}
.header .wrapText .action button {border:none; padding: 10px 20px; margin: 0 5px 0 0; border-radius:50px; background:#ddd; cursor:pointer; }
.header .wrapText .action button.login { background: #fa6728; background: linear-gradient(135deg, #fa6728 1%,#fa6728 58%,#efb326 100%); color:#fff;}
.header .wrapText .plant { background:url(../images/plant2.png) no-repeat bottom ; background-size: 100%; width: 30%; height: 40%; position: fixed; bottom:30px; left: -45px; z-index: -9;}
.header .wrapGraphic { width:calc(100% - 380px); float:left; position:relative; height:90vh; overflow:hidden;}
.wrapGraphic .waveGraphic { background:url(../images/waveGraphic.png) left bottom no-repeat; background-size: 100% 100%; width:74%; height:100%; position:absolute; bottom: 50px;}
.wrapGraphic .wrapPlant { width:484px; height:270px; position: absolute; bottom: -10px; right: -70px;}
.wrapGraphic .plant1 { background:url(../images/plant1.png) no-repeat;  width:484px; height:235px; position:absolute; bottom:0;  }
.wrapGraphic .plant2 { background:url(../images/plant3.png) no-repeat; width:124px; height:158px; position:absolute; bottom: 90px; right: 260px; animation: plant2 10s infinite; transform-origin: 100% 100%  ;}
@keyframes plant2 {
0% {transform: rotate(10deg);}
50% {transform: rotate(35deg);}
100% {transform: rotate(10deg);}
}

/*==================================== Morning ==============================*/

.wrapGraphic .morningBackground { background:#7fcbff ; background: linear-gradient(180deg, #4384ea 0%, #7fcbff 50% ,#f0f969 70%,#fff 100%); width:100%; height:100%; position:absolute; bottom: 50px;}
.wrapGraphic .morningBackground .building { background: url(../images/buildingmountain.png) no-repeat; width: 1074px; height: 295px; position: absolute; right: 0; bottom: 0;  animation: building 30s infinite linear; position: absolute; animation-iteration-count: infinite;}
@keyframes building {
  0%   {right:-10%;}
  25%  {right:-5%}
  50%  {right:0%}
  75%  {right:-5%}
  100% {right:-10%}
}
.wrapGraphic .morningBackground .gradient { background:url(../images/shadowMorning.png) no-repeat; background-size: 100% 100%; width: 100%; height: 65%; position:absolute; right:0; top:0; opacity: 0.7; }
.wrapGraphic .morningBackground .sun { background:url(../images/sunMorning.png) no-repeat; width:300px; height:300px; position: absolute; bottom: 60px; right:30%; animation: sun 1s infinite linear; }
@keyframes sun {
  0%   {opacity:1;}
  50%  {opacity:0.2;}
  100% {opacity:1;}
}
.wrapGraphic .morningBackground .cloud4, .wrapGraphic .morningBackground .cloud5, .wrapGraphic .morningBackground .cloud6 { display:none;}


/*==================================== Noon ==============================*/

.wrapGraphic .noonBackground { background:#fa6728; background: linear-gradient(180deg,  #4384ea 0%,#7fcbff 20% ,#e9ecef 70%,#fff 100%); width:100%; height:100%; position:absolute; bottom: 50px;}
.wrapGraphic .noonBackground .building { background: url(../images/buildingmountain.png) no-repeat; width: 1074px; height: 295px; position: absolute; right: 0; bottom: 0;  animation: building 30s infinite linear; }
@keyframes building {
  0%   {right:-10%;}
  50%  {right:0%}
  100% {right:-10%}
}
.wrapGraphic .noonBackground .gradient { background:url(../images/shadowNoon.png) no-repeat; background-size: 100% 100%; width: 100%; height: 65%; position:absolute; right:0; top:0; opacity: 0.7; }
.wrapGraphic .noonBackground .sun { background:url(../images/sunNoon.png) no-repeat; width:300px; height:300px; position: absolute; top: 0; right: calc(50% - 150px); animation: sun 1s infinite linear; }
@keyframes sun {
  0%   {opacity:1;}
  50%  {opacity:0.2;}
  100% {opacity:1;}
}
.wrapGraphic .noonBackground .cloud4, .wrapGraphic .noonBackground .cloud5, .wrapGraphic .noonBackground .cloud6 { display:none;}

/*==================================== Afternoon ==============================*/

.wrapGraphic .afternoonBackground { background:#fa6728; background: linear-gradient(180deg,  #1b12a2 0%,#fa6728 20%, #efb326 50%, #fff 100%); width:100%; height:100%; position:absolute; bottom: 50px;}
.wrapGraphic .afternoonBackground .building { background: url(../images/buildingmountain.png) no-repeat; width: 1074px; height: 295px; position: absolute; right: 0; bottom: 0;  animation: building 30s infinite linear; position: absolute; animation-iteration-count: infinite;}
@keyframes building {
  0%   {right:-10%;}
  25%  {right:-5%}
  50%  {right:0%}
  75%  {right:-5%}
  100% {right:-10%}
}
.wrapGraphic .afternoonBackground .gradient { background:url(../images/shadowAfternoon.png) no-repeat; background-size: 100% 100%; width: 100%; height: 65%; position:absolute; right:0; top:0; opacity: 0.7; }
.wrapGraphic .afternoonBackground .sun { background:url(../images/sun.png) no-repeat; width:300px; height:300px; position: absolute; bottom: 55px; right: 10%; animation: sun 2.3s infinite linear;}
@keyframes sun {
  0%   {opacity:1;}
  50%  {opacity:0.7;}
  100% {opacity:1;}
}
.wrapGraphic .afternoonBackground .cloud1, .wrapGraphic .afternoonBackground .cloud2, .wrapGraphic .afternoonBackground .cloud3 { display:none;}

.wings {position: absolute; top: 50%; opacity:0.3; animation: wing 70s infinite linear;}
@keyframes wing {
  0%    {left: 60%;}
  50%   {left: 40%;}
  100%  {left: 60%;}
}
.wing1 { width:19px;}
.wing2 { width:26px; position:absolute; left:50px; top:5px;}
.wing3 { width:25px; position:absolute; left:27px; top:19px;}
.wing4 { width:25px; position:absolute; left:84px; top:-6px;}
.wing5 { width:20px; position:absolute; left:70px; top:24px;}
.wing6 { width:20px; position:absolute; left:20px; top:40px;}
.wings .left img { width:50%; animation: left 0.7s infinite; transform-origin: 100% 100%; float: left; }
@keyframes left {
0% {transform: rotate(-15deg);}
50% {transform: rotate(25deg);}
100% {transform: rotate(-15deg);}
}
.wings .right img {  width:50%; animation: right 0.7s infinite; transform-origin: 0 100%; float:right;}
@keyframes right {
    0% {transform: rotate(15deg);}
50% {transform: rotate(-25deg);}
100% {transform: rotate(15deg);}
}
.wing1 .left img {animation: left 0.8s infinite; }
.wing1 .right img { animation: right 0.8s infinite;}
.wing6 .left img {animation: left 0.75s infinite; }
.wing6 .right img { animation: right 0.75s infinite;}

.nightBackground .wings, .noonBackground .wings { display:none;}  

/*==================================== Night ==============================*/
.wrapGraphic .nightBackground {
    background: #3a5275;
    background: linear-gradient(180deg, #18263c 0%,#3a5275 30%,#7fcbff 70%,#fff 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
}
.wrapGraphic .nightBackground .building { background: url(../images/buildingmountain.png) no-repeat; width: 1074px; height: 295px; position: absolute; right: 0; bottom: 0;  animation: building 30s infinite linear; position: absolute; animation-iteration-count: infinite;}
@keyframes building {
  0%   {right:-10%;}
  25%  {right:-5%}
  50%  {right:0%}
  75%  {right:-5%}
  100% {right:-10%}
}
.wrapGraphic .nightBackground .gradient { background:url(../images/shadowNight.png) no-repeat; background-size: 100% 100%; width: 100%; height: 65%; position:absolute; right:0; top:0; opacity: 0.7; }
.wrapGraphic .nightBackground .star { background:url(../images/star.png) no-repeat; background-size: 100%; width: 65%; height: 100%; position:absolute; right:4vw;}
.wrapGraphic .nightBackground .star1 {background:#fff; width:5px; height:5px; border-radius:50%; position: absolute; top: 20vh; right: 20%; animation: star1 1s infinite linear;}
@keyframes star1 {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .star2 {background:#fff; width:3px; height:3px; border-radius:50%; position: absolute; top: 15vh; right: 40%; animation: star2 0.2s infinite linear;}
@keyframes star2 {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .star3 {background:#fff; width:5px; height:5px; border-radius:50%; position: absolute; top: 23vh; right: 10%; animation: star3 0.67s infinite linear;}
@keyframes star3 {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .star4 {background:#fff; width:5px; height:5px; border-radius:50%; position: absolute; top: 40vh; right: 40%; animation: star4 1.4s infinite linear;}
@keyframes star4 {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .star5 {background:#fff; width:3px; height:3px; border-radius:50%; position: absolute; top: 17vh; right: 70%; animation: star5 0.7s infinite linear;}
@keyframes star5 {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .moon { background:url(../images/moon.png) no-repeat; width:188px; height:188px; position: absolute; top: 25vh; right: calc(50% - 76px); animation: moon 2.3s infinite linear;}
@keyframes moon {
  0%   {opacity:1;}
  50%  {opacity:0.7;}
  100% {opacity:1;}
}
.wrapGraphic .nightBackground .cloud4, .wrapGraphic .nightBackground .cloud5, .wrapGraphic .nightBackground .cloud6 { display:none;}

/*================================================ Animation Truck ==============================*/
/*------ Animation Body Truk ----------*/
.truck { width: 333px; height: 142px; bottom: 17vh; background: url(../images/shadowTruck.png) bottom no-repeat; animation: truck 40s infinite linear; position: absolute;}
@keyframes truck {
  0%   {left:calc(50vw - 166.5px);}
  25%  {left:calc(50vw - 166.5px + 10%);}
  50%  {left:calc(50vw - 166.5px);}
  75%  {left:calc(50vw - 166.5px - 10%);}
  100% {left:calc(50vw - 166.5px);}
}
.bodyTruck { width: 244px; height: 122px; background:url(../images/bodyTruck.png) no-repeat; animation-name: bodyTruck; animation-duration: 0.3s; position:absolute; animation-iteration-count: infinite; float:left;}
@keyframes bodyTruck {
  0%   {top:0;}
  25%  {top:-0.9px;}
  50%  {top:0;}
  75%  {top:0.9px;}
  100% {top:0;}
}
.headTruck { width: 171px; height: 121px; background:url(../images/headTruck.png) no-repeat; animation-name: headTruck; animation-duration: 0.3s; position:absolute; animation-iteration-count: infinite; float:left; left: 162px;}
@keyframes headTruck {
  0%   {top:0;}
  35%  {top:0.9px;}
  60%  {top:0;}
  80%  {top:-0.9px;}
  100% {top:0;}
}
/*------ Animation Ban ----------*/

.banRear1 { width:52px; height:51px; background:url(../images/ban1.png); background-size:100% 100%; animation-name: banRear1; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 0; left: 34px;}
.banRear1 img {height:100%; width:52px;}
@keyframes banRear1 {
  0%   {height:51px;}
  50%  {height:58px;}
  100% {height:51px;}
}
.banRear2 { width:52px; height:51px; background:url(../images/ban2.png); background-size:100% 100%; animation-name: banRear2; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 2px; left: 94px;}
.banRear2 img {height:100%; width:52px;}
@keyframes banRear2 {
  0%   {height:51px;}
  50%  {height:58px;}
  100% {height:51px;}
}
.banFront1 { width:52px; height:51px; background:url(../images/ban1.png); background-size:100% 100%; animation-name: banFront1; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 0; left: 184px; z-index: 1;}
.banFront1 img {height:100%; width:52px;}
@keyframes banFront1 {
  0%   {height:56px;}
  70%  {height:51px;}
  100% {height:56px;}
}
.banFront2 { width:52px; height:51px; background:url(../images/ban2.png); background-size:100% 100%; animation-name: banFront2; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 2px; left: 254px;}
.banFront2 img {height:100%; width:52px;}
@keyframes banFront2 {
  0%   {height:56px;}
  50%  {height:51px;}
  100% {height:56px;}
}

.wrapvelgBan1 { width:25.916px; height:33.857px; animation-name: wrapvelgBan1; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 9px; left: 193px; z-index: 2; overflow: hidden; border-radius: 100%; opacity: 0.5;}
@keyframes wrapvelgBan1 {
  0%   {height:37px;}
  50%  {height:33.857px;}
  100% {height:37px;}
}
.wrapvelgBan2 { width:25.916px; height:33.857px; animation-name: wrapvelgBan2; animation-duration: 0.3s; animation-iteration-count: infinite; position:absolute; bottom: 9px; left: 43px; z-index: 2; overflow: hidden; border-radius: 100%; opacity: 0.4;}
@keyframes wrapvelgBan2 {
  0%   {height:33.857px;}
  50%  {height:37px;}
  100% {height:33.857px;}
}

.velgBan { width: 36px; height: 36px; background: url(../images/velgBan.png) no-repeat; background-size: 100% 100%; position: relative; left: -5px; -webkit-animation: velgBan 0.4s infinite linear; }
@keyframes velgBan {
  from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.wrapKebul1 { width:300px; height: 90px; overflow: hidden; position: absolute; left: -120px; z-index: -1; bottom: 0;}
.wrapKebul1 .kebul { background:url(../images/kebul.png) no-repeat; width:300px; height:300px; animation: kebul1 1.5s infinite; }
@keyframes kebul1 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-180deg);}
}
.wrapKebul2 { width:300px; height: 90px; overflow: hidden; position: absolute; left: -180px; z-index: -1; bottom: 0;}
.wrapKebul2 .kebul { background:url(../images/kebul.png) no-repeat; width:300px; height:300px; animation: kebul2 2.3s infinite; }
@keyframes kebul2 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-180deg);}
}
.wrapKebul3 { width:300px; height: 90px; overflow: hidden; position: absolute; left: -180px; z-index: -1; bottom: 0;}
.wrapKebul3 .kebul { background:url(../images/kebul.png) no-repeat; width:300px; height:300px; animation: kebul3 3.7s infinite; }
@keyframes kebul3 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-180deg);}
}

.pin { background:url(../images/pin.png) no-repeat; animation: pin 1s infinite linear; width:41px; height:53px; position: absolute; left: 140px; top: -60px; }
@keyframes pin {
  0%   {opacity:0.4;}
  50%  {opacity:1;}
  100% {opacity:0.4;}
}
.rambu60 { background:url(../images/60rambu.png) no-repeat; animation: rambu60 1.5s infinite linear; width:43px; height:57px; position: absolute; bottom: 5px; z-index: -1; }
@keyframes rambu60 {
  0%   {left:420px; opacity:0;}
  15%  {opacity:1;}
  85%  {opacity:1;}
  100% {left:-160px; opacity:0;}
}

/*----------------------------------------------- Cloud -------------------------------------*/

.cloud1 { background:url(../images/cloud1.png) no-repeat; width:316px;height: 44px; position: absolute; animation: cloud1 35.3s infinite linear; top: 20vh; opacity:0.4; }
@keyframes cloud1 {
  0%   {left:50%;}
  50%  {left:calc(0% - 316px);}
  50.00000000009%  {left:100%;}
  100% {left:50%;}
}

.cloud2 { background:url(../images/cloud2.png) no-repeat; width:160px; height: 32px; position: absolute; animation: cloud2 12.34s infinite linear; top: 30vh; opacity:0.6;  }
@keyframes cloud2 {
  from { left:100%;}
    to { left:-160px;}
}
.cloud3 { background:url(../images/cloud2.png) no-repeat; width:160px; height: 32px; position: absolute; animation: cloud3 7.3s infinite linear; top: 17vh; opacity:0.2;}
@keyframes cloud3 {
  from { left:100%;}
    to { left:-160px;}
}
.cloud4 { background:url(../images/cloud3.png) no-repeat; width:316px;height: 44px; position: absolute; animation: cloud1 35.3s infinite linear; top: 20vh; opacity:0.2; }
@keyframes cloud4 {
  0%   {left:50%;}
  50%  {left:calc(0% - 316px);}
  50.00000000009%  {left:100%;}
  100% {left:50%;}
}

.cloud5 { background:url(../images/cloud4.png) no-repeat; width:160px; height: 32px; position: absolute; animation: cloud2 12.34s infinite linear; top: 30vh; opacity:0.3;  }
@keyframes cloud5 {
  from { left:100%;}
    to { left:-160px;}
}
.cloud6 { background:url(../images/cloud4.png) no-repeat; width:160px; height: 32px; position: absolute; animation: cloud3 7.3s infinite linear; top: 17vh; opacity:0.1;}
@keyframes cloud6 {
  from { left:100%;}
    to { left:-160px;}
}


/*============================================================ RESPONSIVE =================================================*/
@media only screen and (max-width: 1280px) {
    .wrapGraphic .waveGraphic { width:100%;}
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .wrapGraphic .waveGraphic, .wrapGraphic #background { height: calc(100% - 20vh); bottom: auto;}
    .header .wrapText .plant { width:45%;}
    .truck { bottom:20vh;}
    @keyframes truck {
        0%   {left:calc(30vw - 166.5px);}
      25%  {left:calc(30vw - 166.5px + 10%);}
      50%  {left:calc(30vw - 166.5px);}
      75%  {left:calc(30vw - 166.5px - 10%);}
      100% {left:calc(30vw - 166.5px);}
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    @keyframes truck {
        0%   {left:calc(50vw - 166.5px);}
      25%  {left:calc(50vw - 166.5px + 10%);}
      50%  {left:calc(50vw - 166.5px);}
      75%  {left:calc(50vw - 166.5px - 10%);}
      100% {left:calc(50vw - 166.5px);}
    }
}


@media only screen and (min-height: 960px) {
    .wrapGraphic .morningBackground { background: linear-gradient(180deg, #4384ea 0%, #7fcbff 50% ,#f0f969 90%,#fff 100%);}
}

@media only screen and (max-width: 823px) {

/*---------------------------------- Truck -------------------*/

    .truck { width:250px; height:107px; background-size: 100%;}
    .bodyTruck {width: 183px; height: 92px; background-size: 100%;}
    .headTruck { width:128px; height:92px; background-size: 100%; left: 122px;}
    .banRear1 { left: 24px;}
    .banRear2 { left: 74px;}
    .banFront1 { left: 138px;}
    .banFront2 { left: 191px;}
    .banRear2, .banFront2, .banRear1, .banFront1 {
        width: 39px;
        height: 39px;
    }
    @keyframes banRear1 {
          0%   {height:39px;}
          50%  {height:42px;}
          100% {height:39px;}
        }
    @keyframes banRear2 {
          0%   {height:39px;}
          50%  {height:42px;}
          100% {height:39px;}
        }
    @keyframes banFront1 {
          0%   {height:42px;}
          50%  {height:39px;}
          100% {height:42px;}
        }
    @keyframes banFront2 {
          0%   {height:42px;}
          50%  {height:39px;}
          100% {height:42px;}
        }
    .wrapvelgBan1 { width: 18.916px; bottom:6px; left: 145px; }
    @keyframes wrapvelgBan1 {
      0%   {height:30px;}
      50%  {height:25px;}
      100% {height:30px;}
    }
    .velgBan { width:27px; height:27px;}
    .wrapvelgBan2 { width: 18.916px; bottom:6px; left: 31px; }
    @keyframes wrapvelgBan2 {
      0%   {height:25px;}
      50%  {height:30px;}
      100% {height:25px;}
    }
    .pin {left: 104px;}
}


@media only screen and (max-width: 768px) {
    .header .wrapGraphic { width:100%; position:absolute; height: 95vh;}
    .header .wrapText .plant { width:45%;}
    .header .wrapText .content {margin-top: calc(45vh - 280px);}
    .wrapGraphic .waveGraphic { background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); height: 100px; bottom: 20vh;}
    .wrapGraphic #background { bottom:20vh;}
    .truck { bottom:20vh;}
    @keyframes truck {
      0%   {left:calc(30vw - 166.5px);}
      25%  {left:calc(30vw - 166.5px + 10%);}
      50%  {left:calc(30vw - 166.5px);}
      75%  {left:calc(30vw - 166.5px - 10%);}
      100% {left:calc(30vw - 166.5px);}
    }

}

@media only screen and (max-width: 568px) {
    .header .wrapText { width:100%; padding:0; overflow: hidden;}
    .header .wrapText .logo {margin:0 0 5%;}
    .header .wrapText .content { padding:0 50px;}
    .header .wrapText h1 { font-size:45px; line-height:45px;}
    .header .wrapText .plant { width: 60%; bottom: 10px;}
    .header .wrapGraphic { height:97vh;}
    .wrapGraphic .wrapPlant, .wrapGraphic .plant1 { width: 200px; height: 112px; background-size:100%; right:0;}
    .wrapGraphic .plant2 { display:none;}
    .header .wrapText .content { margin-top: calc(50vh - 280px); }
    @keyframes truck {
      0%   {left:calc(50vw - 125px);}
      25%  {left:calc(50vw - 125px + 10%);}
      50%  {left:calc(50vw - 125px);}
      75%  {left:calc(50vw - 125px - 10%);}
      100% {left:calc(50vw - 125px);}
    }
    @keyframes building {
      0%   {right:-30%;}
      50%  {right:-20%}
      100% {right:-30%}
    }
}

@media only screen and (max-height: 500px) {
    .wrap { overflow:hidden;}
    .header .wrapText { width: 80%; padding:0 10%;}
    .header .wrapText .logo {margin:0 0 10px;}
    .header .wrapText h1 { font: 32px Gilroy; line-height: 32px;}
    .header .wrapText h1 span { display: inline-block; padding: 0 5px 0 0;}
    .header .wrapText .content { margin-top: calc(50vh - 130px); padding:0px;}
    .header .wrapText .plant {bottom: 10px; width: 30%;}
    .wrapGraphic .wrapPlant { display:none;}
    .truck { bottom: 5vh;}
    @keyframes truck {
      0%   {left:calc(70vw - 125px);}
      25%  {left:calc(70vw - 125px + 10%);}
      50%  {left:calc(70vw - 125px);}
      75%  {left:calc(70vw - 125px - 10%);}
      100% {left:calc(70vw - 125px);}
    }
    .header .wrapGraphic {position: absolute; right: 0; height: 100vh;}
    .wrapGraphic .nightBackground .moon { top:0;}
    .wrapGraphic .noonBackground .sun { top:-25vh;}
}

@media only screen and (max-width: 375px) {
    .header .wrapText .content { padding: 0 35px;}
    .header .wrapText h1 { font-size:40px; line-height: 40px;}
    .header .wrapGraphic { height:100vh;}
    .truck { bottom: 16vh;}
}

@media only screen and (max-width: 335px) {
    .header .wrapText .content { margin:40px 0 0;}
    .header .wrapText h1 { font-size:35px; line-height:35px;}
    .header .wrapText .plant, .wrapGraphic .wrapPlant  { display:none;}
    .truck { bottom: 6vh; }
}